body {
  max-width: 100vw;
  min-width: 100vw;
  margin:0;
  padding:0;
  overflow-x: hidden;
  background-color: rgba(23, 23, 23);
 }



a { color: inherit; text-decoration: none; } 


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* h1 52 Delicious Handrawn, cursive
h2 48 MuseoModerno, cursive
h3 32 Typewriter Delicious Handrawn, cursive
h4 24 px Title Delicious Handrawn, cursive
p 16 Lexend
micro text 12px Lexend

28 px menu mobile Lexend */
